<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/github-battle.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>React GitHub Battle</h3>
    <ul>
      <li>Featured Skills</li>
    </ul>
    <p>React application built from the 'React Fundamentals' course by Tyler McGinnis and hosted with Firebase. This React application has two main features: A "React Battle" where a user can battle their friends and a feature that displays the most popular pages on GitHub and broken down by language. Both features rely on data provided by the GitHub API.</p>
    <a class="project-link" href="https://react-battle-864a2.firebaseapp.com/">Check it out</a>
  </div>
  <br>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="recipe manager" src="{{ "/assets/img/recipe_manager.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>RecipeMe</h3>
    <ul>
      <li>Featured Skills</li>
    </ul>
    <p>Monolithic Ruby-on-Rails recipe management application. Users can view all recipes submitted by registered users. Secure login/sign-up with the Ruby Gem 'Devise'. Following RESTful practices, registered users can create, edit, delete their own recipes, and rate recipes submitted by other users. Database set up using ActiveRecord and PostgreSQL. Styling done with Materialize.</p>
    <a class="project-link" href="https://github.com/davidtskaggs/RecipeMe">Source code</a>
  </div>
  <br><br>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/weatherMeNOW.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>weatherMeNOW</h3>
    <ul>
      <li>Featured Skills</li>
    </ul>
    <p>Ruby application built with the Sinatra framework that uses the Weather Underground API to allow users to search by city and state to receive weather results. Results are displayed dynamically using jQuery and AJAX. Secure login/sign-up with the Ruby Gem 'BCrypt'. Lightly styled with Bootstrap. Plan to implement additional features and styling.</p>
    <a class="project-link" href="https://weathermenow.herokuapp.com">Check it out</a>
  </div>
</div>
